:root{
	--sidebar-width: 375px; 
}
.username{
	text-transform: uppercase;
}

#video-row {
	width: 700px;
	max-width: 90vw;
  }
  
  #incoming-call-card {
	border: 1px solid #0acf83;
  }
  
  .video-container {
	width: 700px;
	height: 526px;
	max-width: 90vw;
	max-height: 90vh;
	margin: 0 auto; 
	position: relative; 
	background-color: #fff;
  }
  
  .video-container .user-video {
	width: 30%;
	position: absolute;
	left: 10px;
	bottom: 10px;
	border-radius: 6px;
	z-index: 2;
  }
  
  .video-container .partner-video {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
  }

  .DailingPad{
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

button.videocallerbutton {
    border: none;
    background: #f9f9f9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: center;
	margin: 0 8px;
}

button.videocallerbutton.Audio{

}
button.videocallerbutton.FullScreen {
    background: transparent;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 9999;
    box-shadow: none;
}
button.videocallerbutton.Callend{
	background-color: #EB5347;
	color: #fff;
}
button.videocallerbutton.CallAccept{
	background-color: green;
	color: #fff;
}
  
  /* Mobiel Styles */
  @media only screen and (max-width: 768px) {
	.video-container {
	  height: 50vh;
	}
  }

  span.emoji {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: baseline;
	vertical-align: auto;
	zoom: 1;
	display: inline;
	width: 1em;
	height: 1em;
	background-size: 1em;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-position: 50%, 50%;
	background-size: contain;
}

span.emoji-sizer {
	line-height: 0.81em;
	font-size: 1em;
 	margin: -2px 0;
}

span.emoji-outer {
	display: -moz-inline-box;
	display: inline-block;
	display: inline;
	height: 1em;
	width: 1em;
}

span.emoji-inner {
	display: -moz-inline-box;
	display: inline-block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
	vertical-align: auto;
	zoom: 1;
}

img.emoji {
	width: 1em;
	height: 1em;
}

.CustomForm{
	margin-top: 50px;
}

.CustomForm .formWrap {
    background-color: #fff;
    padding: 20px 25px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);	
}

.CustomForm .formWrap input.form-control, .CustomForm .formWrap .btn{
	border-radius: 50px;
	height: 48px;
}

.CustomForm .formWrap input.form-control {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
	border: none;
    padding-left: 60px;
    font-size: 14px;
}

.CustomForm .formWrap .InputWrap{
	position: relative;
}

.CustomForm .formWrap .InputWrap i {
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
    background: #ddd;
	color: #636363;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 9px 0;
}

/* 
## Custom Css
**************/
.navbar{
	z-index: 9;
}
.fullwrap{
	display: flex;
	flex-direction: row;
	position: relative;
    height: 100%;
}

.Sidebar{
	width: var(--sidebar-width);
	border-right: 1px solid #ccc;
	height: calc(100vh - 56px);
}

.SearchWrap {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.SearchUser{
	position: relative; 
}

.SearchUser i {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}

.SearchUser input {
    border: none;
    width: 100%;
    height: 48px;
    padding-left: 30px;
} 

.SearchUser input:focus{
	outline: none;
}

/* .moreInfo {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 20px;
    z-index: 333;
    cursor: pointer;
} */

.moreInfo {
    /* position: absolute; */ 
    /* transform: translate(0px, -50%); */ 
    /* z-index: 333; */
    /* cursor: pointer; */
    margin-right: 15px;
}

.moreInfo svg{
	fill : green;
}

.ProfileWrap button{
	border: none;
	width: 100%;
	text-align: left;
	padding: 10px 25px;
	border-bottom: 1px solid #ccc;
}

.ProfileWrap button i{
	margin-right: 10px;
}

.ProfileWrap button .badge{
	font-size: 11px;
}

/* 
## Chat Content 
******************/
.ContentArea{
	width: calc(100% - var(--sidebar-width));
	position: relative;
}

.ChatHeader{
	border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}
.UserProfile{
	padding: 8px 0px;
}

#callButton{
	background: none;
	border: none;
	padding: 5px 15px;
}

#messageOutput {
    padding: 0 25px 25px;
    position: relative;
    height: calc(100vh - 210px);
    overflow: auto;
}

.ChatFooter{
	border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
	padding: 15px;
}

.sidebar-layout{
	width: 455px;
    border-left: 1px solid #ccc;
}

#chatForm .WriteMsg{
	border: none;
	width: 100%;
}

#chatForm .WriteMsg:focus{
	outline: none;
}

.MsgWrap{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	position: relative;
}
.MsgWrap .Profile{
	position: relative;
	margin-right: 10px;
	height: 40px;
}
.MsgWrap .Profile i, .ProfileImage i{
	width: 40px;
    height: 40px;
    background: #d6d4d4;
    text-align: center;
    padding: 8px 0;
    font-size: 22px;
    border-radius: 50%;    
}
.MsgWrap .Profile span, .ProfileImage span {
    height: 12px;
    width: 12px;
    display: block;
    background: #000;
    position: absolute;
    right: 0px;
    bottom: 0;
    border-radius: 50%;
	border: 2px solid #fff;
}
.MsgWrap .Profile span.online, .ProfileImage span.online{
	background-color: green;
}
.MsgWrap .Profile span.offline, .ProfileImage span.offline{
	background-color: gray;
}
.MsgWrap .TextMsg h3{
	font-size: 16px;
}
.MsgWrap .TextMsg h3 span{
	font-size: 12px;
}

.MsgWrap .TextMsg p{
	font-size: 14px;
	margin-bottom: 0px;
}

.sidebar-layout .ProfileWrap{
	display: flex;
	flex-direction: row;
	padding: 15px;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.sidebar-layout .ProfileWrap .ProfileImage{
	margin-right: 15px;
	position: relative;
}

.sidebar-layout .ProfileWrap .ProfileImage i{
	height: 80px;
    width: 80px;
    font-size: 45px;
    padding: 20px 0;
}
.sidebar-layout .ProfileWrap .ProfileImage span{
	right: 5px;
    width: 15px;
    height: 15px;
}

.sidebar-layout .ProfileContent{

}

.sidebar-layout .ProfileContent h3 {
	font-size: 16px;
	margin-bottom: 5px;
}

.sidebar-layout .ProfileContent h5,.sidebar-layout .ProfileContent p{
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
}


.IncomingCallBox {
    width: 420px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
	background: #fff;
	z-index: 999999;
}

.chatFormFooter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.chatFormFooterLeft{
	width: 100%;
	 
}
.chatFormFooterLeft input {
     
}
.chatFormFooterLeft button.btn {
  
}

.chatFormFooterRight{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chatFormFooterRight button{
	border: none;
	background-color: transparent;
	font-size: 20px;
	color: #222;
}

.chatFormFooterRight a{
	color: gray;
	font-size: 20px;
	margin-right: 5px;
	cursor: pointer;
}

.Sidebarmenu ul {
    padding: 0;
    margin: 0;
}
.Sidebarmenu ul li {
    list-style: none;
}
.Sidebarmenu ul li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    color: #000;
	text-decoration: none;
    font-size: 14px;
}
.Sidebarmenu ul li a i {
    margin-right: 10px;
}
.Sidebarmenu ul li a i:last-child {
    position: absolute;
    right: 0;
    top: 50%;
	font-size: 20px;
    transform: translate(0, -50%);
}

.dropDownMenu {
    position: absolute;
    right: 0px;
    background: #f9f9f9;
    top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 10px 0;
}

.dropDownMenu::after, .dropDownMenu::before{
	bottom: 100%;
	right: 50px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f9f9f9;
	border-width: 15px;
	margin-left: -15px;
} 

.dropDownMenu::before { 
    right: 49px; 
    top: -31px;
	border-bottom-color: #ccc;
}

.dropDownMenu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.dropDownMenu ul li{
	
}
.dropDownMenu ul li a{
	cursor: pointer;
	display: block;
	padding: 5px 25px;
	text-decoration: none;
	color: #222;
	border-bottom: 1px solid #ccc;
}
.dropDownMenu ul li:last-child a{
	border-bottom: none;
}

 .MsgTitme {
    width: 100%;
    position: relative; 
    text-align: center;
	margin-bottom: 10px;
}

 .MsgTitme:before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    display: block;
    background: #ccc;
    top: 57%;
    transform: translate(0 ,-50%);
}

 .MsgTitme span {
    color: #7d7373;
    font-size: 11px;
    line-height: normal;
    background: #fff;
    z-index: 999;
    position: relative;
    padding: 0 15px;
}